.custom-file-upload {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }